<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.budgettracker.personalfinance.trackmoney.smartbudget"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <queries>
    <intent>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent>
    </queries>

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ads.ActivityLoadNativeFullV2"
            android:theme="@style/Theme.Design.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SetBudgetActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.InterestActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TransactionDetailActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.UninstallActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.CurrencyUnitActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.AddTransactionActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LanguageSettingActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BudgetDetailActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IntroActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LanguageActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ads.ActivityLoadNativeFullV5"
            android:theme="@style/Theme.Design.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StatisticDetailActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".utils.LoadNativeFullNew"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityLoadNativeFull"
            android:theme="@style/Theme.Design.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".notiSpecial.ProDocsSplashNotiActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:exported="true"
            android:screenOrientation="portrait" />



        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="com.facebook.sdk.AutoInitEnabled"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <service
            android:name=".notiSpecial.WakeService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            tools:ignore="ForegroundServicePermission" />
        <receiver
            android:name=".notiSpecial.UserPresentReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".notiSpecial.AppInstallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

    </application>

</manifest>